* { 
  /*
    _     _                                
    /|   /          ,   /                  
---/-| -/-----__-------/----------__----__-
  /  | /    /___) /   /   /   / /   ) /   )
_/___|/____(___ _/___/___(___/_(___/_(___/_
                            /              
                        (_ /               
  Author: aobacore
  Version: 1.1
  Date: 15:22:32, November 8, 2021
  This CSS is only for personal use. 
  It may be revoked or modified without notice at any time. Please be informed.
  Character drawing generation: http://patorjk.com/software/taag Style: Standard
  */  
  
  /*Baidu HM*/ 
  var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?d7aaea180f9da3780cf1ef0c1036b7b4";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();                     

}   
    .card {
    background: #fff;
    background-size: contain;
    text-align: center;
    padding: 1em;
  }
  
  .card h1 {
    font-size: 20px;
    margin: 5px auto 0;
    letter-spacing: 1px;
  }
  .card h2 {
    margin: auto;
    color: #5c6170;
    font-weight: 300;
    font-size: 15px;
  }
  .card red {
    margin: auto;
    color: #da0000;
    font-weight: 300;
    font-size: 15px;
  }
  .card blue {
    margin: auto;
    color: #0099ff;
    font-weight: 300;
    font-size: 15px;
  }
  .card yellow {
    margin: auto;
    color: #fffb00;
    font-weight: 300;
    font-size: 15px;
  }
  .card green {
    margin: auto;
    color: #00e626;
    font-weight: 300;
    font-size: 15px;
  }
  .card orange {
    margin: auto;
    color: #ff8800;
    font-weight: 300;
    font-size: 15px;
  }

  .card .button {
    display: block;
    text-decoration: none;
    background: #666CD9;
    color: #f9f9f9;
    padding: 12px;
    border: none;
    border-radius: 25px;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 700;
    min-width: 200px;
    transition: 0.2s;
  }
  .card .button span {
    font-size: 20px;
    line-height: 1;
    vertical-align: top;
  }
  .card .button:hover {
    background: #5D4AD9;
  }

